VITE_API_URL=https://yamshat-1ya4.onrender.com
VITE_RECAPTCHA_KEY=
VITE_GOOGLE_CLIENT_ID=
VITE_FACEBOOK_APP_ID=
VITE_APPLE_CLIENT_ID=
VITE_API_BASE=https://yamshat-1ya4.onrender.com/api
VITE_BACKEND_ORIGIN=https://yamshat-1ya4.onrender.com
VITE_SOCKET_URL=https://yamshat-1ya4.onrender.com
