## انسخ القيم دي إلى mobile/local.properties محلياً
sdk.dir=/path/to/Android/Sdk
APP_BASE_URL=https://yamshatl.onrender.com/api/
APP_SOCKET_URL=https://yamshatl.onrender.com
WEB_APP_URL=https://yamshat1-1-vg1o.onrender.com/
LIVEKIT_URL=wss://yamshat-enqr8c2d.livekit.cloud
PRIMARY_ADMIN_EMAIL=yamenameen97@gmail.com
